/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden; /* Prevent body scrolling */
}

.outer-container {
  max-width: 33.33%; /* Set the maximum width to one-third of the page */
  float: left; /* Float the container to the left */
  margin: 0.5%; /* Add margin for spacing */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-gap: 10px; /* Adjust the gap between images */
  align-items: start; /* Align items at the start (top) of the container */
  justify-content: start; /* Align content to the start (left) of the container */
  margin: 20px; /* Add margin to the container for spacing */
}

/* Style for the images (optional) */
.open-window-button {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}

.window {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  overflow: auto; /* Add scrollbar when content exceeds dimensions */
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none; /* have it closed by default */
}

.window-top-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: grab; /* Change cursor to indicate draggable */
  text-align: right;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  justify-content: right;
}

.close-button:hover {
  background-color: #ff0000;
}

.window-content {
  padding: 20px;
}
